/* ------------- NAV ------------- */

nav {
  border-bottom: 3px solid $primary-color;
  height: 75px;
  background: #000;
}

.logo-small {
  margin-top: 6px;
  margin-left: 10px;
  float:left;
}

.logoutArea {
  float:right;
} 

.logoutArea a {
  margin-top: 20px;
  margin-right: 20px;
  padding: 4px 12px;
  background: $primary-color;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.logoutArea a:hover {
  color: #000;
}