/* ------------- VEHICLE DETAILS ------------- */

.display-view .col-sm-8 {
  width: 68%;
  // background-color: #fff;
}

.display-view .col-sm-offset-1 {
  margin-left: 2%;
  // background-color: #fff;
}

.vehicle-details {
  margin-top: 20px;
}

p.no-vehicle-selected {
  font-size: 1.75em;
  font-style: italic;
  color: #999;
}

.vehicle-delete-button {
  margin-top: 6px;
  padding: 4px 12px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  border: none;
  float: right;
}

button.vehicle-delete-button:hover {
  color: $primary-color;
}

.maintenance-list ul {
  margin: 0;
  padding: 0;
}

.maintenance-list li {
  list-style: none;
  padding: 6px 0 6px 6px;
  font-weight: bold;
  font-style: italic;
  color: #555;
}

.maintenance-list li:nth-child(odd) {
  background-color: #eeb;
}

.miles {
  font-size: 1.25em;
  font-style: normal;
  color: #000;
}