$primary-color: #FF9600;

/* ---------- MAIN ---------- */

body {
  background-image: url('/imgs/img-asphalt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.right {
  float:right;
}

.left {
  float:left;
}


@import 'login';
@import 'nav';
@import 'vehicle-add';
@import 'vehicle-details';