
<div ng-include="'/garagetrac/partials/nav.html'"></div>

<div class="row">
  <div class="col-sm-12">
  
    <div class="row display-view">

      <!-- ADD NEW VEHICLE or SELECT EXISTING VEHICLE -->
      <div class="col-sm-3">
        <div ng-include="'/garagetrac/partials/vehicle-add.html'"></div>
      </div>

      <!-- DISPLAY VEHICLE AND MAINTENANCE SCHEDULE -->
      <div class="col-sm-8 col-sm-offset-1">
          <div ng-include="'/garagetrac/partials/vehicle-details.html'"></div>
      </div>

    </div>

  </div>
</div>











