<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="login-header">
      <div class="login-logo">
        <img src="imgs/logo-gt.png" alt="GarageTrac">
      </div>
      <h1>Login or Register</h1>
      <p>Enter user name and password to login.</p>
    </div>

    <div class="login-bottom">
      <div>
        <input type="text" autofocus="true" ng-model="account.email" class="form-control" placeholder="User Name">
      </div>
      <div>
        <input type="password" ng-model="account.password" class="form-control" placeholder="Password">
      </div>      

      <button ng-click="login()" class="login-btn">Login</button>
      <button ng-click="register()" class="login-btn">Register</button>
    </div>

  </div>
</div>
