<div class="vehicle-add">

  <div class="vehicle-drop-down">
    <label>Add Vehicle:</label>
    <br>

    <select ng-model="selectedMake" 
            ng-options="carMakes.name for carMakes in carMakes"
            ng-change="buildModels(selectedMake)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Make</option>
    </select>
<br>
   <select ng-model="selectedModel" 
            ng-options="carModels.name for carModels in carModels"
            ng-change="buildYears(selectedModel)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Model</option>
    </select>
<br>
    <select ng-model="selectedYear" 
            ng-options="carYears.year for carYears in carYears"
            ng-change="getVehicle(selectedYear)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Year</option>
    </select>
  </div>
<br>
  <button ng-click="vehicleAdd()">Add Vehicle</button>

</div>                

<hr>

<div class="vehicle-list">
    <ul>
      <li ng-repeat="car in userVehicleList">
        <a href="#" title="{{car.vehicleYear}} {{car.vehicleMake}} {{car.vehicleModel}}">{{car.vehicleYear}} {{car.vehicleMake}} {{car.vehicleModel}}</a>
      </li>
    </ul>  
</div>
