<div ng-controller="VehAddCtrl" class="vehicle-details">
  <button ng-click="vehicleDelete()">Delete Vehicle</button>
  <h1 class="vehicle-title">{{car.vehicleYear}} {{car.vehicleMake}} {{car.vehicleModel}}</h1>
  <input type="text" class="form-control" autofocus="true" placeholder="Enter Current Mileage">

  <div class="maintenance-list">
    <ul>
      <li ng-repeat="vehicleMainList in vehicleMainList | orderBy: 'intervalMileage'">
        {{vehicleMainList.action}} {{vehicleMainList.item}} at {{vehicleMainList.intervalMileage}} miles
      </li>
    </ul>
  </div>

</div>
