<div class="vehicle-add">

  <div class="vehicle-drop-down">
    <label>Add Vehicle</label>
    <br>
    <select ng-model="selectedMake" 
            ng-options="carMakes.name for carMakes in carMakes"
            ng-change="buildModels(selectedMake)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Make</option>
    </select>
    <br>
   <select ng-model="selectedModel" 
            ng-options="carModels.name for carModels in carModels"
            ng-change="buildYears(selectedModel)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Model</option>
    </select>
    <br>
    <select ng-model="selectedYear" 
            ng-options="carYears.year for carYears in carYears"
            ng-change="getVehicle(selectedYear)"
            class="vehicle-drop-down-item"
            size="1">
            <option disabled value="">Year</option>
    </select>
  </div>
    
  <button ng-click="vehicleAdd()">Add Vehicle</button>
  <button ng-click="dropdownReset()">Reset</button>
</div>                

<div class="vehicle-list">
    <ul>
      <li ng-repeat="car in userVehicleList | orderBy: 'vehicleYear'">
        <button ng-click="goToVehicle(car.vehicleKey, car)"><span class="car-list-text">{{car.vehicleYear}} {{car.vehicleMake}} {{car.vehicleModel}}</span><span class="car-list-arrow">&#9658;</span></button>
      </li>
    </ul>  
</div>


