<div class="vehicle-details">
  <button ng-click="vehicleDelete()">Delete Vehicle</button>
  <h1 class="vehicle-title">vehicle title</h1>
  <input type="text" class="form-control" autofocus="true" placeholder="Enter Current Mileage">

  <div class="maintenance-list">
    <ul>
      <li>
        maintenance list item <a href="#">delete</a>
      </li>
      <li>
        maintenance list item <a href="#">delete</a>
      </li>
      <li>
        maintenance list item <a href="#">delete</a>
      </li>
    </ul>
  </div>

</div>
